<html ng-app="jjgym">
<head>
<title>
JJGym Calendar
</title>




<link rel="stylesheet" href="js/bower_components/jquery-ui/themes/base/jquery-ui.css" /> 
<link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="js/bower_components/angular/angular-csp.css" /> 
<link rel="stylesheet" href="js/bower_components/fullcalendar/fullcalendar.css" />
<link rel="stylesheet" href="css/main.css" />

<!--VENDOR DEPENDENCIES-->
<script type="text/javascript" src="js/bower_components/jquery/jquery.js"></script>
<script type="text/javascript" src="js/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="js/bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script type="text/javascript" src="js/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="js/bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="js/bower_components/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript" src="js/bower_components/angular-ui-bootstrap/src/modal/modal.js"></script>
<script type="text/javascript" src="js/bower_components/angular-ui-bootstrap/src/timepicker/timepicker.js"></script>
<script type="text/javascript" src="js/bower_components/fullcalendar/fullcalendar.js"></script>
<script type="text/javascript" src="js/bower_components/angular-ui-calendar/src/calendar.js"></script>
<script type="text/javascript" src="js/bower_components/sugar/release/sugar.min.js"></script>
<script type="text/javascript" src="js/bower_components/moment/moment.js"></script>
<!--END VENDOR DEPENDENCIES-->

<!--JASMINE-->
<link rel="stylesheet" type="text/css" href="js/bower_components/jasmine/lib/jasmine-core/jasmine.css">
<script type="text/javascript" src="js/bower_components/jasmine/lib/jasmine-core/jasmine.js"></script>
<script type="text/javascript" src="js/bower_components/jasmine/lib/jasmine-core/jasmine-html.js"></script>
<!--END JASMINE-->

</head>
<body>

 <i class="icon-ok"></i> 
<header class="col-md-12">

{{#session.user}}
  <div class="row">
	<div class="alert alert-success col-xs-6 col-sm-4 col-md-6">
  Welcome, {{session.user.name_first}} {{session.user.name_last}}! 
  </div>
  <div id="logout" class="btn btn-default" ng-click="logout()"> <span class="glyphicon glyphicon-logout"></span>Logout</div>
 </div>
	<div class="row">
	<div ng-book-it class="">
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">When do you want to train? </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
      <input type="text" class="human-date-input" placeholder="ie: 'Tomorrow at 5pm', or 'Next Saturday'">

    </div>
    
		
	</div>

  </div>
{{/session.user}}
{{^session.user}}


<form action="/login" method="post">

 <input type="hidden" name="username" value="jjgym"/>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/><input type="submit" value="Log In"/>
    </div>
</form>
{{/session.user}}

</header>
 <br />
<div id="container" class="text-center" ng-view>
</div>
<div id="loader-screen">
	<div id="loader">
	</div>
</div>
<div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!--APP FILES-->
<script type="text/javascript" src="js/controllers.js"></script>
<!--
<script type="text/javascript" src="js/directives.js"></script>
<script type="text/javascript" src="js/filters.js"></script>
<script type="text/javascript" src="js/services"></script>
-->
<script type="text/javascript" src="js/app.js"></script>
<!--END APP FILES-->
</body>
</html>