<html ng-app="jjgym" ng-init="userId = {{session.user.id}}">
<head>
<title>
JJGym Calendar
</title>

<link rel="stylesheet" href="js/vendor/jquery-ui/themes/base/jquery-ui.css" /> 
<link rel="stylesheet" href="js/vendor/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="js/vendor/angular/angular-csp.css" /> 
<link rel="stylesheet" href="js/vendor/fullcalendar/fullcalendar.css" />
<link rel="stylesheet" href="css/main.css" />

<!--JASMINE-->
<!--
<link rel="stylesheet" type="text/css" href="js/bower_components/jasmine/lib/jasmine-core/jasmine.css">
<script type="text/javascript" src="js/bower_components/jasmine/lib/jasmine-core/jasmine.js"></script>
<script type="text/javascript" src="js/bower_components/jasmine/lib/jasmine-core/jasmine-html.js"></script>
-->
<!--END JASMINE-->

</head>
<body>

<header class="col-md-12" ng-controller="HeaderController">

<div class="login-area col-md-12">
{{#flash.error}}
  <div class="alert row">Error: {{flash.error}}</div>
{{/flash.error}}

{{#session.user}}

  <div class="alert row">
    Welcome, {{session.user.name_first}} {{session.user.name_last}}! [<span class="logout" ng-click="logout()">Logout</span>] 
    <!-- <input type="button" value="Logout" ng-click="logout()" class="pull-right"/> -->
  </div>


{{/session.user}}
{{^session.user}}
  <form ng-submit="login()" action="/login" method="post">

    <input type="hidden" name="username" value="jjgym"/>
      <div class="alert row">
          <label>Password:</label>
          <input type="password" name="password"/>
          <input type="submit" class="login-submit" value="[Login]" />
          <!-- <input type="submit" value="Log In" class="pull-right" /> -->
      </div>

  </form>
{{/session.user}}
</div>

<!--text-slideshow directive: announcements is array of text values, interval is time in seconds to advance to next item-->
<div class="row text-slideshow col-md-6" data="announcements" interval="7"></div>


</header>
 <br />
<div id="container" class="text-center" ng-view>
</div>
<div id="loader-screen">
	<div id="loader">
	</div>
</div>

<!--APP FILES-->
  <!--VENDOR DEPENDENCIES-->
  <script type="text/javascript" src="js/vendor/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/vendor/jquery-ui/ui/jquery-ui.js"></script>
  <script type="text/javascript" src="js/vendor/lodash/dist/lodash.js"></script>
  <script type="text/javascript" src="js/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="js/vendor/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="js/vendor/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="js/vendor/angular-cookies/angular-cookies.js"></script>
  <script type="text/javascript" src="js/angular-ui-bootstrap/ui-bootstrap-0.11.0.min.js"></script>
  <script type="text/javascript" src="js/angular-ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

  <script type="text/javascript" src="js/vendor/fullcalendar/fullcalendar.js"></script>
  <script type="text/javascript" src="js/vendor/angular-ui-calendar/src/calendar.js"></script>
  <!-- <script type="text/javascript" src="js/vendor/sugar/release/sugar.min.js"></script> -->
  <script type="text/javascript" src="js/vendor/moment/moment.js"></script>
  <!--END VENDOR DEPENDENCIES-->

  <!--ANGULAR STUFF-->
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/services.js"></script>
  <script type="text/javascript" src="js/directives.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
  <!--END ANGULAR STUFF-->

<!--END APP FILES-->
</body>
</html>