/* begin less functions */
/* end less functions */
body {
  font-family: verdana, arial, helvetica, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn-warning {
  background-color: #ffcd00;
}
::selection {
  background: none;
  color: #fff;
}
#loader-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #000;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@value)";
  /* IE 5-7 */
  filter: alpha(opacity=30);
  /* Netscape */
  -moz-opacity: 0.3;
  /* Safari 1.x */
  -khtml-opacity: 0.3;
  /* Good browsers */
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}
#loader-screen #loader {
  width: 50px;
  height: 50px;
  background-image: url(images/loader-med.gif);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
}
input[type='submit'] {
  margin-left: 10px;
}
.header {
  z-index: 10000;
  height: 300px;
  margin: 0px;
  padding: 10px;
  top: 0px;
  border: 1px solid #ddd;
}
body {
  background-color: #202020;
}
#container {
  /*position:absolute;
    top:100px;
    */
  background-color: #808080;
  position: relative;
  top: 60px;
  width: 99%;
}
#container .calendar {
  margin-left: auto;
  margin-right: auto;
}
.modal-body .inBetween {
  vertical-align: middle;
}
.fc-agenda-slots tr:hover {
  background-color: #919191;
  cursor: copy;
}
.fc-today {
  background-color: #b3b3b3;
}
.fc-day-content {
  cursor: copy;
}
.fc-event {
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #777;
}
.fc-event .fc-event-bg {
  display: none;
}
.fc-event .fc-event-time {
  width: 100%;
  display: block;
}
.fc-event .fc-event-title {
  width: 100%;
  display: block;
}
.fc-event .fc-event-percentage {
  float: right;
  font-size: .8em;
  font-style: italic;
  color: #dddddd;
  margin: 0px;
  padding: 0px;
}
.fc-event .fc-event-details {
  color: #dddddd;
  font-style: italic;
  font-size: .8em;
}
.fc-event .delete-button {
  width: 50px;
  height: 50px;
  float: left;
}
.popover-content {
  font-size: .8em;
  font-style: italic;
}
.bookit {
  z-index: 10000;
}
.fc-event.percent25 {
  background-color: #36da82;
}
.fc-event.percent25:hover {
  background-color: #47eb93;
}
.fc-event.percent50 {
  background-color: #009999;
}
.fc-event.percent50:hover {
  background-color: #11aaaa;
}
.fc-event.percent75 {
  background-color: #216477;
}
.fc-event.percent75:hover {
  background-color: #327588;
}
.fc-event.percent100 {
  background-color: #a62a58;
}
.fc-event.percent100:hover {
  background-color: #b73b69;
}
