/* begin less functions */
/* end less functions */
body {
  font-family: verdana, arial, helvetica, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
::selection {
  background: none;
  color: #fff;
}
#loader-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #000;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@value)";
  /* IE 5-7 */
  filter: alpha(opacity=30);
  /* Netscape */
  -moz-opacity: 0.3;
  /* Safari 1.x */
  -khtml-opacity: 0.3;
  /* Good browsers */
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}
#loader-screen #loader {
  width: 50px;
  height: 50px;
  background-image: url(images/loader-med.gif);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
}
input[type='submit'] {
  margin-left: 10px;
}
.header {
  z-index: 10000;
  margin: 0px;
  padding: 10px;
  top: 0px;
  border: 1px solid #ddd;
}
#container {
  /*position:absolute;
    top:100px;
    */
  position: relative;
  top: 20px;
  width: 99%;
}
#container .calendar {
  margin-left: auto;
  margin-right: auto;
}
.modal-body .inBetween {
  vertical-align: middle;
}
.fc-agenda-slots tr:hover {
  background-color: #d7f2ff;
  cursor: copy;
}
.fc-day-content {
  cursor: copy;
}
.fc-event {
  cursor: pointer;
}
.fc-event .fc-event-time {
  width: 100%;
  display: block;
}
.fc-event .fc-event-title {
  width: 100%;
  display: block;
}
.fc-event .fc-event-percentage {
  float: right;
  font-size: .8em;
  font-style: italic;
  color: #ddd;
  margin: 0px;
  padding: 0px;
}
.fc-event .fc-event-details {
  color: #ddd;
  font-style: italic;
  font-size: .8em;
}
.fc-event .delete-button {
  width: 50px;
  height: 50px;
  float: left;
  color: purple;
}
.fc-event:hover {
  background-color: #51b5e7;
}
.popover-content {
  font-size: .8em;
  font-style: italic;
}
.bookit {
  z-index: 10000;
}
.fc-event.percent25 {
  width: 25% !important;
}
.fc-event.percent50 {
  width: 50% !important;
}
.fc-event.percent75 {
  width: 75% !important;
}
.fc-event.percent100 {
  width: 100% !important;
}
