<div ng-controller="TimepickerCtrl as timePicker">
  <div class="modal-header">
      <h3>Book Time: </h3>
  </div>
  <div class="modal-body">
  	Book me <b>{{ date }}</b> from:
    <br />
    <div class="row" >
      <div class="col-md-4">
      <div style="display:inline-block;">
            <timepicker ng-model="timeStart" ng-change="timePicker.changeTime()" hour-step="1" minute-step="30" show-meridian="true" value="timeStart"></timepicker>
      </div>
      </div>
      <div class="col-md-2 text-center"><br /><h4>to</h4> </div>
      <div class="col-md-4">
        <div style="display:inline-block;">
              <timepicker ng-model="timeEnd" ng-change="timePicker.changeTime()" hour-step="1" minute-step="30" show-meridian="true" value="timeEnd"></timepicker>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="alert alert-block {{availability > 0 && 'alert-success' || 'alert-danger'}}">
        <div class="col-md-4">Gym Availability: </div>
        <div class="col-md-3">{{availability}}%</div>
        <br />
      </div>
    </div>
    <div class="row">

        Percentage: 
      <select class="form-control" id="usage" data-ng-model="usage" data-ng-options="perc.value as (perc.value + '%') for perc in percentages" data-ng-change="updateUsage()">
      </select>
   
    </div>
    <div class="row">
      Note: <input type="text" class="form-control" name="note" id="note"></input>
    </div>
    <div class="row" ng-hide="availability <= 0  && !rep">
      Repeat Weekly: <input type="checkbox" name="rep" id="rep" ng-model="rep" />
    </div>
    
    <div class="row" ng-show="rep">
     for <select name="numweeks" id="numweeks" ng-model="numWeeks" ng-options="num for num in optionValues" data-ng-change="timePicker.updateRepeatEndDate();checkGymAvailabilityRange(rawDate, repeatEndDate)">
       <option value="">--</option>
     </select> weeks.
      <span class="repeat-end-date" ng-show="repeatEndDate != ''"><br />
      ({{rawDate | date: 'MMMM d, yyyy'}} to {{repeatEndDate | date: 'MMMM d, yyyy'}})
      </span>
     <div class="row availability-matrix">
       <div class="dateslice perc{{100 - obj.data.usage}}" style="width: {{580 / dates.length}}px" data-ng-repeat="obj in dates">
          {{obj.data.date | date: 'M-d'}}
          <span class="perc">({{100 - obj.data.usage}}%)</span>
      </div>
     </div>
      
    </div>

  </div>
  <div class="modal-footer">
      <button class="btn btn-primary {{availability <= 0 && 'disabled'}}" ng-click="ok(dates)">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>