<div class="modal-header">
    <h3>Book Time: {{ date }}?</h3>
</div>
<div class="modal-body">
   Yes, Book me at {{ hour }}
	<!--
    <ul>
        <li ng-repeat="item in items">
            <a ng-click="selected.item = item">{{ item }}</a>
        </li>
    </ul>
    Selected: <b>{{ selected.item }}</b>
	-->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
<!--
<div ui-friendly-train="" class="">
	<div class="label">When do you want to trian?</div>
	<div class="value"><input type="text" class="when-train" ng-model="training-date" placeholder="ie: 'Tomorrow at 5pm' or 'Next Saturday'" /> </div>
</div>
-->