.text-slideshow	
	position relative

	.text-item
		display none
		// &:first-child
		position absolute
		left 0
		// opacity 1
			
		/*ng-animate classes. not working with the directive yet*/
		&.ng-enter
			opacity 0
			transition 0.5s linear all
		&ng-enter-active
			opacity 1
			transition 0.5s linear all
		&.ng-leave
			opacity 1
			transition 0.5s linear all
		&.ng-leave-active
			opacity 0
		/*end ng-animate classes*/
