@import 'bootstrap/index.styl'

lesscss-percentage(n)
	(n * 100)%

/**
*styles for directives
*/
import_tree('./directives')

/**
*directive styles overrides 
*/


/**
*end styles for directives
*/

body
	font-family verdana, arial, helvetica, sans-serif
	-webkit-touch-callout none
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	-o-user-select none
	user-select none

perc0 = rgb(122, 232, 255, 1)
perc25 = rgb(54, 218, 130, 1)
perc50 = rgb(0, 153, 153, 1)
perc75 = rgb(33, 100, 119, 1)
perc100 = rgb(166, 42, 88, 1)
textcolor = rgb(255, 255, 255, 1)
subtextcolor = rgb(221, 221, 221, 1)
background1 = rgb(32, 32, 32, 1)
background2 = rgb(128, 128, 128, 1)
background3 = (background2 + rgb(17, 17, 17, 1))

.text-slideshow
	color #fff
	make-md-column(12)
	margin-left auto
	margin-right auto
	width 88%
	// border 1px solid teal
	height 4rem
	a 
		font-weight bold
		color #fff
		text-decoration perc0


.btn-warning
	background-color #ffcd00
	
::selection
	background none
	color #fff
	
.modal-backdrop
	position fixed 
	height 100%
	
#loader-screen
	position fixed
	top 0
	left 0
	background-color #000
	opacity .3
	width 100%
	height 100%
	z-index 1000
	display none

	#loader
		width 50px
		height 50px
		margin-left auto
		margin-right auto
		margin-top 25%
		background-image("../images/loader-med.gif")
		background-repeat no-repeat
	
input
	color #000

input[type='submit']
	margin-left 10px

header
	z-index 1000
	height 15rem
	margin-top 1rem
	padding 1rem
	
.login-area
	height 5rem
	margin 0
	padding 0

body
	background-color background1

#container
	background-color background2
	position relative
	margin-left auto
	margin-right auto
	width 99%
	.calendar
		margin-left auto
		margin-right auto

.modal-body .inBetween
	vertical-align middle

.fc-agenda-slots
	tr:hover
		background-color background3
		cursor crosshair

.fc-today
	background-color (background3 + rgb(34, 34, 34, 1))

.fc-day-content
	cursor crosshair

.fc-event
	color textcolor
	cursor pointer
	border 1px solid #777
	
	.fc-event-bg
		display none

	.fc-event-time
		width 100%
		display block

	.fc-event-title
		width 100%
		display block

	.fc-event-percentage
		float right
		font-size .8em
		font-style italic
		color subtextcolor
		margin 0px
		padding 0px

	.fc-event-details
		color subtextcolor
		font-style italic
		font-size .8em

	.delete-button
		width 50px
		height 50px
		float left
		
.login-submit
	background-color transparent
	text-decoration none
	color #fff
	border none
	padding 0
	margin 0
	cursor pointer
	
.logout
	cursor pointer
	
.popover-content
	font-size .8em
	font-style italic

.alert
	color #fff

.bookit
	z-index 10000

.modal-content
	background-color (background3 + rgb(34, 34, 34, 1))

.alert-success
	  background-color perc50
	  border none

.alert-danger, .btn-warning
	background-color perc100
	border none
	&:hover
		background-color (perc100 - rgb(34, 34, 34, 1))
		border none

.dateslice
	float left
	height 100%
	border-right 1px solid rgba(0, 0, 0, 0.2)
	font-size .6em
	text-align center
	color subtextcolor
	padding-top .5em
	&.perc0
		
		background-color perc100
	&.perc25
		
		background-color perc75
	&.perc50
		
		background-color perc50
	&.perc75
		color #333;
		background-color perc25
	&.perc100
		
		color #333;
		background-color perc0
	
.availability-matrix
	margin-top 1em
	margin-left auto
	margin-right auto
	width 580px
	height 40px

.fc-event.percent25
	background-color perc25
	&:hover
		background-color (perc25 + rgb(17, 17, 17, 1))

.fc-event.percent50
	background-color perc50
	&:hover
		background-color (perc50 + rgb(17, 17, 17, 1))

.fc-event.percent75
	background-color perc75
	&:hover
		background-color (perc75 + rgb(17, 17, 17, 1))

.fc-event.percent100
	background-color perc100
	&:hover
		background-color (perc100 + rgb(17, 17, 17, 1))

